"""

"""
DB_USER_NAME = "usernameExample"
DB_USER_PASSWORD = "passwordExample"
DB_HOST_NAME = "hostnameExample"
DB_PORT = portExample # integer
DB_DATABASE = "databaseExample"

JWT_PRIVATE_KEY = "some_long_key"
JWT_AUTH_DURATION = 60 * 60 # integer, in seconds
JWT_REFRESH_DURATION = 12 * 60 * 60 # integer, in seconds
JWT_ALGORITHM = "HS512" # JWT algorithm used
JWT_ISSUER = "https://test.domain.com"
